# Test Reports

## Trivy
#### Trivy test report of backend
![Trivy test report of backend](../images/trivy.png)

#### Trivy test report of frontend
![Trivy test report of frontend](../images/trivy-2.png)

## Semgrep

#### Semgrep test report of backend
![Semgrep test report of backend](../images/semgrep-2.png)

#### Semgrep test report of frontend
![Semgrep test report of frontend](../images/semgrep.png)
